---
import Layout from "../../layouts/Layout.astro";
import { examples } from "../../scripts/data";

export const getStaticPaths = () => {
  return examples.map((ex) => {
    return { params: { example: ex }, props: { example: ex } };
  });
};

const { example } = Astro.props;
---

<Layout uid={`fauna__${example}`}>
  <div class="content fauna">
    <div class="fauna__item" style="--c: 4; --r: 1; --s: 3;">
      <div class="fauna__item__image__wrapper" style="--aspect: 4 / 5;">
        <img src="/images/elephant.jpg" alt="" class="fauna__item__image" />
      </div>
      <div class="fauna__item__caption">
        <h1
          class="fauna__item__caption__title"
          data-motion-text
          data-motion-text-split="chars"
          data-motion-text-duration="0.75"
          data-motion-text-trigger-by-scroll
        >
          Sumatran Elephant
        </h1>
      </div>
    </div>
    <div class="fauna__item" style="--c: 1; --r: 2; --s: 4;">
      <div class="fauna__item__image__wrapper" style="--aspect: 5 / 7;">
        <img src="/images/komodo.jpg" alt="" class="fauna__item__image" />
      </div>
      <div class="fauna__item__caption">
        <h1
          class="fauna__item__caption__title"
          data-motion-text
          data-motion-text-split="chars"
          data-motion-text-duration="0.75"
          data-motion-text-trigger-by-scroll
        >
          Komodo Dragon
        </h1>
      </div>
    </div>
    <div class="fauna__item" style="--c: 5; --r: 3; --s: 4;">
      <div class="fauna__item__image__wrapper" style="--aspect: 4 / 5;">
        <img src="/images/orang__utan.jpg" alt="" class="fauna__item__image" />
      </div>
      <div class="fauna__item__caption">
        <h1
          class="fauna__item__caption__title"
          data-motion-text
          data-motion-text-split="chars"
          data-motion-text-duration="0.75"
          data-motion-text-trigger-by-scroll
        >
          Orang Utan
        </h1>
      </div>
    </div>
    <div class="fauna__item" style="--c: 6; --r: 4; --s: 6;">
      <div class="fauna__item__image__wrapper" style="--aspect: 16 / 9;">
        <img src="/images/tiger.jpg" alt="" class="fauna__item__image" />
      </div>
      <div class="fauna__item__caption">
        <h1
          class="fauna__item__caption__title"
          data-motion-text
          data-motion-text-split="chars"
          data-motion-text-duration="0.75"
          data-motion-text-trigger-by-scroll
        >
          Sumatran Tiger
        </h1>
      </div>
    </div>
  </div>
</Layout>
