@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --vw: 1440;
  --multiplier: 100vw;
  --background: #ece9e4;
  --text: #020403;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
  overflow-x: clip;
  background-color: var(--background);
  color: var(--text);
  font-family: "Neue Montreal", sans-serif;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main {
  display: block;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

body,
html,
.app__wrapper {
  height: 100svh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.content__wrapper {
  width: 100%;
  min-height: 100svh;
  position: relative;
}

.lenis {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
  scrollbar-width: none;
  width: 100%;
  -ms-overflow-style: none;
}

.lenis::-webkit-scrollbar {
  display: none;
}

.content {
  min-height: 100svh;
  width: 100%;
}

.transition__webgl__wrapper {
  width: 100%;
  height: 100vh;
  pointer-events: none;
  z-index: 100;
  position: fixed;
  inset: 0;
  visibility: hidden;
}

#webgl {
  width: 100%;
  height: 100vh;
  display: block;
}

.transition__svg__wrapper {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
  height: 100vh;
}

.svg__transition {
  width: 100%;
  height: 100%;
}

.svg__transition svg {
  transform: scale(1.25);
}

.header {
  position: fixed;
  width: 100%;
  padding: calc(18 / var(--vw) * var(--multiplier));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text);
  color: var(--background);
  width: 40%;
  padding: calc(12 / var(--vw) * var(--multiplier))
    calc(14 / var(--vw) * var(--multiplier));
  border-radius: 5px;
}

.nav__title {
  font-size: calc(18 / var(--vw) * var(--multiplier));
  text-transform: capitalize;
}

.nav__link {
  font-size: calc(14 / var(--vw) * var(--multiplier));
  padding: calc(8 / var(--vw) * var(--multiplier))
    calc(12 / var(--vw) * var(--multiplier));
  border-radius: 3px;
}

.navigation__example__container {
  position: fixed;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
  background-color: var(--text);
  color: var(--background);
  padding: calc(14 / var(--vw) * var(--multiplier))
    calc(16 / var(--vw) * var(--multiplier));
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  max-width: 30%;
  width: 100%;
}

.navigation__example__title {
  font-size: calc(14 / var(--vw) * var(--multiplier));
  text-transform: capitalize;
}

.navigation__example__list {
  display: flex;
  align-items: center;
  gap: calc(24 / var(--vw) * var(--multiplier));
}

@media screen and (max-width: 768px) {
  .svg__transition svg {
    width: 150%;
    transform: scale(2.75);
  }

  .nav {
    width: 70%;
    padding: calc(22 / var(--vw) * var(--multiplier))
      calc(24 / var(--vw) * var(--multiplier));
  }

  .nav__title {
    font-size: calc(48 / var(--vw) * var(--multiplier));
  }

  .nav__link {
    font-size: calc(34 / var(--vw) * var(--multiplier));
    padding: calc(12 / var(--vw) * var(--multiplier))
      calc(16 / var(--vw) * var(--multiplier));
    border-radius: 3px;
  }

  .navigation__example__container {
    padding: calc(24 / var(--vw) * var(--multiplier))
      calc(26 / var(--vw) * var(--multiplier));
    max-width: 50%;
  }

  .navigation__example__title {
    font-size: calc(34 / var(--vw) * var(--multiplier));
  }

  .navigation__example__link {
    font-size: calc(44 / var(--vw) * var(--multiplier));
  }
}
