@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --vw: 1440;
  --multiplier: 100vw;
  --base-background: #ece9e4;
  --base-text: #020403;
  --about-background: #85c79a;
  --about-text: #edf7bd;
  --contact-background: #41431b;
  --contact-text: #e3dbbb;
  --contact-overlay: #aeb784;
  --team-background: #36656b;
  --team-text: #dad887;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
  overflow-x: clip;
  background-color: var(--base-text);
  font-family: "Neue Montreal", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}

main {
  display: block;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

body.is__transitioning a {
  pointer-events: none;
}

ul,
ol {
  list-style: none;
}

body,
html,
.app__wrapper {
  height: 100svh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.app__wrapper {
  background-color: var(--base-background);
  color: var(--base-text);
  overflow-x: hidden;
}

.app__wrapper.example__4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--contact-overlay);
  z-index: 100;
  clip-path: var(--clip, inset(0 0 100% 0));
  will-change: clip-path;
}

.content__wrapper {
  width: 100%;
  min-height: 100svh;
  position: relative;
}

.content {
  min-height: 100svh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .title {
  font-size: 15vw;
  text-transform: uppercase;
}

.content.about {
  background-color: var(--about-background);
  color: var(--about-text);
}

.content.contact {
  background-color: var(--contact-background);
  color: var(--contact-text);
}

.content.team {
  background-color: var(--team-background);
  color: var(--team-text);
}

#webgl {
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  display: block;
}

.header {
  position: fixed;
  width: 100%;
  padding: calc(18 / var(--vw) * var(--multiplier));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--base-text);
  color: var(--base-background);
  width: 40%;
  padding: calc(12 / var(--vw) * var(--multiplier))
    calc(14 / var(--vw) * var(--multiplier));
  border-radius: 5px;
}

.nav__title {
  font-size: calc(18 / var(--vw) * var(--multiplier));
  text-transform: capitalize;
}

.nav__link {
  font-size: calc(14 / var(--vw) * var(--multiplier));
  padding: calc(8 / var(--vw) * var(--multiplier))
    calc(12 / var(--vw) * var(--multiplier));
  border-radius: 3px;
}

.lines,
.words,
.chars {
  will-change: transform;
}

[data-motion-text] {
  visibility: hidden;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 70%;
    padding: calc(22 / var(--vw) * var(--multiplier))
      calc(24 / var(--vw) * var(--multiplier));
  }

  .nav__title {
    font-size: calc(48 / var(--vw) * var(--multiplier));
  }

  .nav__link {
    font-size: calc(34 / var(--vw) * var(--multiplier));
    padding: calc(12 / var(--vw) * var(--multiplier))
      calc(16 / var(--vw) * var(--multiplier));
    border-radius: 3px;
  }
}
