@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/NeueMontreal.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --vw: 1440;
  --multiplier: 100vw;
  --background: #ece9e4;
  --text: #020403;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100svh;
  overflow-x: clip;
  background-color: var(--text);
  font-family: "Neue Montreal", sans-serif;
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none;
}

main {
  display: block;
}

img,
svg {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}

body.is__transitioning a {
  pointer-events: none;
}

ul,
ol {
  list-style: none;
}

body,
html,
.app__wrapper {
  height: 100svh;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.app__wrapper {
  background-color: var(--background);
  color: var(--text);
  overflow-x: hidden;
}

.app__wrapper.example__4::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text);
  z-index: 100;
  clip-path: var(--clip, inset(0 0 100% 0));
  will-change: clip-path;
}

.content__wrapper {
  width: 100%;
  min-height: 100svh;
  position: relative;
}

.lenis {
  height: 100%;
  overflow: scroll;
  overflow-x: hidden;
  overscroll-behavior: none;
  scrollbar-width: none;
  width: 100%;
  -ms-overflow-style: none;
}

.lenis::-webkit-scrollbar {
  display: none;
}

.content {
  min-height: 100svh;
  width: 100%;
  padding: calc(80 / var(--vw) * var(--multiplier))
    calc(16 / var(--vw) * var(--multiplier))
    calc(16 / var(--vw) * var(--multiplier));
}

.content.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100svh;
}

.title__home {
  font-size: 18vw;
  text-align: center;
  text-transform: uppercase;
  line-height: 0.85;
}

.description__home {
  font-size: calc(24 / var(--vw) * var(--multiplier));
}

.content.fauna {
  padding-bottom: calc(80 / var(--vw) * var(--multiplier));
}

.fauna__item {
  display: flex;
  flex-direction: column;
  gap: calc(12 / var(--vw) * var(--multiplier));
}

.fauna__item__caption__title {
  font-size: calc(24 / var(--vw) * var(--multiplier));
}

.fauna__item__image__wrapper {
  width: 100%;
  position: relative;
  overflow: hidden;
  aspect-ratio: var(--aspect, 4 / 5);
  height: 100%;
}

#webgl {
  width: 100%;
  height: 100dvh;
  pointer-events: none;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  visibility: hidden;
  display: block;
}

.transition__svg__wrapper {
  position: fixed;
  inset: 0;
  overflow: hidden;
  z-index: 100;
  visibility: hidden;
  pointer-events: none;
  width: 100%;
  height: 100vh;
  will-change: visibility, pointer-events;
}

.svg__transition {
  width: 100%;
  height: 100%;
}

.svg__transition svg {
  transform: scale(1.25);
}

.header {
  position: fixed;
  width: 100%;
  padding: calc(18 / var(--vw) * var(--multiplier));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 99;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--text);
  color: var(--background);
  width: 40%;
  padding: calc(12 / var(--vw) * var(--multiplier))
    calc(14 / var(--vw) * var(--multiplier));
  border-radius: 5px;
}

.nav__title {
  font-size: calc(18 / var(--vw) * var(--multiplier));
  text-transform: capitalize;
}

.nav__link {
  font-size: calc(14 / var(--vw) * var(--multiplier));
  padding: calc(8 / var(--vw) * var(--multiplier))
    calc(12 / var(--vw) * var(--multiplier));
  border-radius: 3px;
}

.navigation__example__container {
  position: fixed;
  left: 50%;
  bottom: 1.5rem;
  transform: translateX(-50%);
  background-color: var(--text);
  color: var(--background);
  padding: calc(14 / var(--vw) * var(--multiplier))
    calc(16 / var(--vw) * var(--multiplier));
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  max-width: 30%;
  width: 100%;
}

.navigation__example__title {
  font-size: calc(14 / var(--vw) * var(--multiplier));
  text-transform: capitalize;
}

.navigation__example__list {
  display: flex;
  align-items: center;
  gap: calc(24 / var(--vw) * var(--multiplier));
}

.lines,
.words,
.chars {
  will-change: transform;
}

[data-motion-text] {
  visibility: hidden;
}

[data-reveal-image] {
  position: relative;
  overflow: hidden;
  opacity: 0;
  will-change: opacity;
  width: 100%;
  height: 100%;
}

[data-reveal-image] .overlay__reveal__image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--text);
  will-change: opacity;
  z-index: 2;
}

@media screen and (max-width: 768px) {
  .content {
    padding-top: calc(150 / var(--vw) * var(--multiplier));
  }

  .description__home {
    font-size: calc(64 / var(--vw) * var(--multiplier));
  }

  .content.fauna {
    display: flex;
    flex-direction: column;
    gap: calc(48 / var(--vw) * var(--multiplier));
    padding-bottom: calc(175 / var(--vw) * var(--multiplier));
  }

  .fauna__item__caption__title {
    font-size: calc(64 / var(--vw) * var(--multiplier));
  }

  .svg__transition svg {
    transform: scale(2.5);
  }

  .nav {
    width: 70%;
    padding: calc(22 / var(--vw) * var(--multiplier))
      calc(24 / var(--vw) * var(--multiplier));
  }

  .nav__title {
    font-size: calc(48 / var(--vw) * var(--multiplier));
  }

  .nav__link {
    font-size: calc(34 / var(--vw) * var(--multiplier));
    padding: calc(12 / var(--vw) * var(--multiplier))
      calc(16 / var(--vw) * var(--multiplier));
    border-radius: 3px;
  }

  .navigation__example__container {
    padding: calc(24 / var(--vw) * var(--multiplier))
      calc(26 / var(--vw) * var(--multiplier));
    max-width: 50%;
  }

  .navigation__example__title {
    font-size: calc(34 / var(--vw) * var(--multiplier));
  }

  .navigation__example__link {
    font-size: calc(44 / var(--vw) * var(--multiplier));
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content.fauna {
    display: grid;
    gap: calc(16 / var(--vw) * var(--multiplier));
    grid-template-columns: repeat(8, 1fr);
    row-gap: 5vw;
  }

  .fauna__item {
    grid-column: var(--c-pad) / span var(--s-pad);
    grid-row: var(--r);
  }
}

@media screen and (min-width: 1024px) {
  .content.fauna {
    display: grid;
    gap: calc(16 / var(--vw) * var(--multiplier));
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: auto;
    row-gap: 5vw;
  }

  .fauna__item {
    grid-column: var(--c) / span var(--s);
    grid-row: var(--r);
  }
}
