---
import Layout from "../layouts/Layout.astro";
---

<Layout uid="about">
  <div class="content about">
    <h1
      class="title"
      data-motion-text
      data-motion-text-split="chars"
      data-motion-text-duration="0.75"
    >
      about
    </h1>
  </div>
</Layout>
