---
import Layout from "../layouts/Layout.astro";
---

<Layout uid="archive">
  <div class="content archive">
    <h1
      class="title"
      data-motion-text
      data-motion-text-split="chars"
      data-motion-text-duration="0.75"
    >
      archive
    </h1>
  </div>
</Layout>
