---
import Layout from "../layouts/Layout.astro";
---

<Layout uid="contact">
  <div class="content contact">
    <h1
      class="title"
      data-motion-text
      data-motion-text-split="chars"
      data-motion-text-duration="0.75"
    >
      contact
    </h1>
  </div>
</Layout>
