---
import Layout from "../layouts/Layout.astro";
---

<Layout uid="works">
  <div class="content works">
    <h1
      class="title"
      data-motion-text
      data-motion-text-split="chars"
      data-motion-text-duration="0.75"
    >
      works
    </h1>
  </div>
</Layout>
