---
import "../styles/app.css";
import Header from "../components/header.astro";
import { Font } from "astro:assets";
const { uid } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Codrops Page Transition Barbajs + Astro</title>
    <Font cssVariable="--font-neue-montreal" preload />
  </head>
  <body data-barba="wrapper">
    <Header />
    <div data-barba="container" data-barba-namespace={uid} class="app__wrapper">
      <main class="content__wrapper">
        <slot />
      </main>
    </div>
    <canvas id="webgl"></canvas>
    <div class="transition__overlay">
      <h1 class="title__destination">we're going to t</h1>
    </div>
    <script src="../scripts/app.js"></script>
  </body>
</html>
