---
import "../styles/app.css";
import Header from "../components/header.astro";
const { uid } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Codrops Page Transition Barbajs + Astro</title>
  </head>
  <body data-barba="wrapper">
    <Header />
    <div data-barba="container" data-barba-namespace={uid} class="app__wrapper">
      <main class="content__wrapper">
        <slot />
      </main>
    </div>
    <canvas id="webgl"></canvas>
    <div class="transition__svg__wrapper">
      <div class="svg__transition">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="3095"
          height="2010"
          viewBox="0 0 3095 2010"
          fill="none"
        >
          <path
            d="M-586.5 1127.68C-586.5 1127.68 292.5 -171.322 647 209.178C1001.5 589.678 -317.045 1337.68 135 1888.68C587.045 2439.68 1041 -132.323 1579 117.177C2117 366.677 647 1547.68 1159 1888.68C1671 2229.68 1906.5 -119.323 2471 117.177C3035.5 353.677 1565.5 1695.68 1972.5 1888.68C2379.5 2081.67 2996 -79.8225 3232 366.677C3468 813.177 2707.5 1245.68 2878 1888.68C3048.5 2531.68 3875 1403.18 3875 1403.18"
            stroke="#FA6800"
            stroke-width="200"
            stroke-linecap="round"></path>
        </svg>
      </div>
    </div>
    <script src="../scripts/app.js"></script>
  </body>
</html>
